.noteItem{
    padding: 1em 1.5em;
    border-radius: 12px;
    word-wrap: break-word;
    text-decoration: none;
}
.noteItem_tittle{
    color: var(--color-primary);
    font-size: var(--fs-lg);
    font-weight: var(--fw-semibold);
}
.noteItem_description{
    color: var(--color-primary);
    font-size: var(--fs-base);
    font-weight: var(--fw-thin);
}
.noteItem_date{
    color: var(--color-primary);
    font-size: var(--fs-sm);
    font-weight: var(--fw-thin);
}